body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* header */
img {
    position: relative;
    top: 0.25rem;
}

nav.blue {
    background-color: rgb(4, 148, 196)
}

/* search */
.search-div {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 5rem;
    z-index: 1;
}

.search-bar {
    margin: 0 auto;
    position: relative;
    z-index: 1;
    width: 65%;
}

input {
    position: relative;
    float: left;
    border-style: solid !important;
    border-width: 0.1rem !important;
    border-color: rgb(243, 200, 57) !important;
    border-radius: 0.25rem !important;
    width: 100%;
    margin-bottom: 0;
    z-index: 1;
    background-color: white !important;
}

button {
    position: absolute;
    right: -0.15rem;
    top: 0.06rem;
    float: left;
    padding: 0;
    margin: 0;
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    border-left: none;
    border-width: 0.1rem !important;
    border-color:  rgb(243, 200, 57) !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    color: white;
    width: 3.05rem !important;
    height: 3.05rem !important;
    background-color:  rgb(243, 200, 57) !important;
    font-size: 1.5rem;
    z-index: 1;
}

i.material-icons {
    position: relative;
    top: 0.3rem;
    right: 0.7rem;
    color: white;
    font-size: 2.25rem;
}

button:hover {
    color: black;
    border-color: rgb(243, 200, 57);
}

button:focus, input:focus {
    color: black;
    border-color:  rgb(243, 200, 57) !important; 
    /* having trouble overriding the materialize default for when button and input field are active/clicked. it is a soft teal color */
}

/* map */
main {
    flex: 1 0 auto;
}

.map-div {
    width: 100%;
    position: relative;
    z-index: 0;
    height: 90vh;
}

#map-content {
    z-index: 0;
}

/* footer */
nav.green {
    background-color: lightgreen;
}

.footer-fixed {
	position: fixed;
	bottom: 0;
    width: 100%;
}