body {
    margin: 0;
}

p {
    margin-bottom: 0;
}

/* header */
.logo-heading {
    text-align: center;
    color: white;
    margin-bottom: 0;
    padding: 1rem 0rem 1rem 0rem;
    background-color:  rgb(51, 124, 3);
    margin-top: 1rem;
    border-width: 0.5rem;
    border-color: rgb(51, 124, 3);
}

/* search and welcome row */
.search-welcome-div {
    margin: 0 auto;
}

/* welcome message */
.welcome-div {
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
}

/* search */
.search-div {
    color: white;
    background-color:  rgb(51, 124, 3);
    border-width: 0.5rem;
    border-color:  rgb(51, 124, 3);
    margin-top: 1rem;
    padding: 1rem;
}

.search-bar {
    position: relative;
}

label {
    font-size: 1.75rem;
    font-weight: 400;
}

input {
    position: relative;
    float: left;
    border: solid;
    border-width: 0.05rem;
    border-color: rgba(128, 0, 128, 0);
    width: 75%;
}

button {
    position: relative;
    top: 0rem;
    float: left;
    padding: 0;
    margin: 0;
    border-style: solid;
    border-width: 0.05rem;
    border-color: rgb(246, 212, 100);
    color: white;
    width: 3.75rem;
    background-color:  rgb(246, 212, 100);
    font-size: 1.5rem;
}

/* map */
.map-key-wrapper {
    margin-top: 1rem;
    position: relative;
    background-color:  rgb(51, 124, 3);
    margin-bottom: 2rem;
}

.map-div {
    width: 75%;
    float: left;
    text-align: center;
    position: relative;
    height: fit-content;
}

.test-map {
    width: 100%;
}

.key-div {
    display: inline;
    text-align: center;
}

.key-content {
    width: 100%;
    position: relative;
    color: white;
}