body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* header */
img {
    position: relative;
    top: 0.25rem;
}

nav.blue {
    background-color:rgb(63, 155, 197) !important;
    border-bottom: solid;
    border-width: 0.3rem;
    border-color: rgb(31, 110, 0);
}

/* search */
.search-div {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 5rem;
    z-index: 1;
}

.search-bar {
    margin: 0 auto;
    position: relative;
    z-index: 1;
    width: 60%;
}

input.input {
    position: relative;
    font-size: 3rem;
    padding-left: 0.75rem !important;
    border-style: solid !important;
    border-width: 0.2rem !important;
    border-color: rgb(218, 174, 30)!important;
    border-radius: 1.2rem !important;
    margin-bottom: 0 !important;
    z-index: 1;
    background-color: white !important;
}

button {
    position: absolute;
    right: -1.2rem;
    top: 0rem;
    float: left;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 1.5rem;
    z-index: 1;
}

button:focus, button:hover {
    background-color:  rgb(218, 174, 30) !important;
}

.the-button {
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    border-left: none;
    border-radius: 1.2rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-color: rgb(218, 174, 30);
    border-width: 0.2rem;
    width: 3.4rem;
    height: 3.4rem;
    background-color:  rgb(243, 200, 57);
}

i.material-icons {
    position: relative;
    top: 0.24rem;
    right: 0.65rem;
    color: white;
    font-size: 2.25rem;
}

/* map */
main {
    flex: 1 0 auto;
}

.map-div {
    width: 100%;
    position: relative;
    z-index: 0;
    height: 90vh;
}

#map-content {
    z-index: 0;
}

/* footer */
nav.green {
    background-color: rgb(31, 110, 0) !important;
    text-align: center;
    color: rgb(226, 186, 53);
}

a {
    color: rgb(218, 174, 30) !important;
}

.footer-fixed {
	position: fixed;
	bottom: 0;
    width: 100%;
}

/* tooltip */
.tooltip {
	display:none;
	position:absolute;
	border:1px solid rgb(218, 174, 30);
	background-color:rgb(218, 174, 30);
	border-radius:5px;
	padding:10px;
	color:white;
	font-size: 12.5px;
}